*{
    margin: 0%;
    padding: 0%;
}
.banner img{
    width: 100%;   
}
.JPG img{
    width: 25%;
    margin-left: 10px;
}
.menu li{
    text-decoration: none;
    font-size: 17px;
    padding: 0 10px;    
}
body {
    background-color:#333333;
    text-decoration: none;
    color: #DCDCDC;
}
.header{
    color:#C6E2FF;
}
.header h1{
    text-align:center; 
}


/*for destop*/
@media only screen and (min-width: 987px){
    .banner-img{
        display: block;
        width: 100%;
    }
    .row h2{
        text-decoration: underline;
    }
    
}





     
